main {
  margin: 4rem auto 0 auto;
  max-width: min(70%, 1280px);
}

.about, .projects {
  margin: 4rem;
}

.about {
  display: flex;
  justify-content: center;

  height: 20%;
}

.about-image {
  flex-shrink: 0;
  
  width: min(40%, 400px);
  aspect-ratio: 1 / 1;

  background-color: var(--color-background);
  background-image: url("../../assets/images/benstack_transparent.png");
  background-size: cover;
  background-position: center;

  border-radius: 1rem;

  font-family: 'Supreme-Variable';
  font-size: 2rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about-card {
  padding: 1.5rem;

  background-color: var(--color-primary); 
  color: var(--color-background);

  align-self: center;

  display: flex;
  flex-direction: column;

  border-radius: 0 1rem 1rem 0;
}

.about-heading {
  margin-bottom: 1rem;
}

.about-socials {
  margin-top: 1rem;
  align-self: flex-end;

  display: flex;
  gap: 0.5rem;
}

.about-socials img, .footer-socials img {
  width: 2rem;
}

.about-socials img:hover, .footer-socials img:hover {
  cursor: pointer;
}

.projects-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.project-item {
  justify-self: first baseline;
  width: 100%;
}

.project-info {
  width: 100%;
  height: fit-content;
}

.project-links {
  display: flex;
  align-items: space-between;
}

.project-links img {
  width: 1.5rem;
}

footer {
  margin-bottom: 0;

  background-color: var(--color-primary);
  color: var(--color-background);
}

.footer-content {
  margin: 2rem auto;
  max-width: min(70%, 1280px);

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-text {
  margin-left: 4rem;
  
  display: flex;
  flex-direction: column;

  gap: 0.75rem;
}

.footer-image {
  flex-shrink: 0;
  margin-right: 4rem;

  width: min(40%, 300px);
  aspect-ratio: 1 / 1;

  background-color: var(--color-background);
  background-image: url("../../assets/images/benstack_transparent.png");
  background-size: cover;
  background-position: center;

  border-radius: 1rem;
}

.footer-telephone, .footer-email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.footer-telephone-icon, .footer-email-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
}

.footer-telephone-icon {
  background-image: url("../../assets/images/phone-solid-full.svg");
}

.footer-email-icon {
  background-image: url("../../assets/images/envelope-regular-full.svg");
}