@media (width < 800px) {
  body::before {
    top: -80%;
  }
  
  main {
    margin: 0 auto;
    max-width: 100%;
  }

  .about, .projects {
    margin: 1rem;
  }

  .about {
    flex-direction: column;
    gap: 1rem;
  }

  .about-heading, .about-socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-socials {
    align-self: center;
  }

  .about-image {
    width: 100%; 
  }

  .about-card {
    border-radius: 1rem;
  }

  .projects {
    margin-top: 4rem;
  }

  .projects-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects-grid {
    grid-template: repeat(6, 1fr) / 1fr;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    max-width: 100%;
    margin: 1rem 1rem 0 1rem;
  }

  .footer-heading, .footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .footer-content * {
    margin: 0;
  }

  .footer-image {
    width: 100%;
    height: 50%;
    background-size: cover;
    align-self: center;
  }

}